fastapi
uvicorn[standard]
sqlalchemy
python-jose[cryptography]
passlib[bcrypt]
bcrypt
python-multipart
pdfplumber
python-docx
reportlab
chromadb
sentence-transformers
requests
openai
transformers
torch
accelerate
easyocr
Pillow
supabase
python-dotenv
resend
twilio
